:root {
	--plp-dark-red: #001e38;
	--plp-light-red: #2f83f9;
	--plp-gold: #f7c564;
	--laa-grey: #d6d2c9;
	--plp-dark-red-rgb: rgb(0,30,56) ;
	--plp-light-red-rgb: rgb(47,131,249);
	--plp-gold-rgb: rgb(247,197,100);
	--laa-grey-rgb: rgb(214,210,201);
}

body {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--plp-dark-red));
}

a {
	color:var(--plp-light-red);
	text-decoration:none;
}

a:hover {
	color:var(--plp-gold);	
}

i.fa-brands:hover {
	filter: drop-shadow(0 0 5px var(--plp-dark-red));
}

.bd-navbar {
	background-image: linear-gradient(to top,var(--plp-dark-red),rgba(0,32,64,.75));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
	padding: 1em;
}

.dropdown-menu {
	background-image: linear-gradient(to bottom,rgba(0,30,56,.7),rgba(0,30,56,.8),rgba(0,30,56,.75));
}

.nav-link {
    color: var(--laa-grey-rgb)!important;
}

.nav-link:hover {
	color: var(--plp-gold-rgb)!important;
}

.dropdown-item {
	color: var(--laa-grey) !important;
}

.dropdown-item:hover {
	color: var(--plp-gold) !important;
}

.pixel {
	image-rendering: pixelated;
}

.caps {
	text-transform: capitalize;
}