<!DOCTYPE html>
<!--	hero.ejs
	EJS Starter Site, https://ejs-starter.blaineharper.com
	by Blaine Harper

	PURPOSE: Sample landing page. Currently unused
-->
<div class="px-4 py-3 my-3 bg-plp-dark shadow-lg" style="text-align: center">
	<div class="container">
		<div class="row">
			<div class="col mx-auto">
				<div class="plp-h1"><%- hero.title%></div>
				<hr>
				<%- hero.content%>
			</div>
		</div>
	</div>
</div>