<!DOCTYPE html>
<!--	parallax.ejs
	EJS Starter Site, https://ejs-starter.blaineharper.com
	by Blaine Harper

	PURPOSE: Sample landing page. Currently unused
-->
<div class="parallax-canvas"><div class="parallax" style="position: relative;opacity: 0.75;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover; min-height: <%- parallax.rem %>rem; background-image: url('<%- parallax.url %>');"></div></div>